body{
    background-image:url(images/calculator.jpg);   
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      min-height: 95vh;
    }

.Calculator{
  border:2px solid beige;
  width:620px;
  margin-top: 2%;
  backdrop-filter: blur(0.5px); /* Frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2);

  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;

}

table { 
  border: 1px solid black; 
  margin-left: auto; 
  margin-right: auto; 
} 

input[type="button"] { 
  width: 100%; 
  padding: 20px 40px; 
  background-color: rgba(255, 255, 255, 0.2); 
  color:white ; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
} 

input[type="text"] { 
  padding: 20px 30px; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  background-color: (255, 255, 255, 0.2)
} 

