body{
    background-color:rgb(218, 130, 218);   
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      min-height: 95vh;
    }

.Calculator{
  border:2px solid beige;
  width:620px;
  margin-top: 2%;
  backdrop-filter: blur(0.5px); /* Frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2);

  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;




}

