body{
    background-image:url(images/calculator.jpg);   
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      min-height: 95vh;
    }







.calculator{
  border:2px solid beige;
  width:620px;
  margin-top: 2%;
  backdrop-filter: blur(0.5px); 
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;

}

table { 
  margin-left: auto; 
  margin-right: auto; 
} 

input[type="button"] { 
  width: 95%;
  padding: 20px 40px; 
  background-color: #e2b7d5; 
  color:black ; 
  font-size: 34px; 
  font-weight: bold; 
  border: none; 
  border-radius: 100px;
  margin-top: 20%;
  
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,.8);
}

input[type="text"] { 
  padding: 20px 30px; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  background-color: (255, 255, 255, 0.2)
} 

#numbers{
  margin-top: 14%;
}
.myDiv{
    margin-top: 15%;}

#result{
  margin-top: 15%;
}
#myBtn{
  width: 100px;
}

#result{
  margin-top: 20%;
  margin-left: 18%;
  height: 10%;
}

#equals{
  width: 200%; 
}


#myBtn6{
  width: 300%;
}

@media screen and (max-width: 520px) and (min-width: 280px){
  body{
    background-image:url(images/calculator.jpg);   
      background-size: cover;
      background-repeat: no-repeat;
      /* display: flex; */
      justify-content: center;
      min-height: 100vh;
      overflow: hidden;
    }

.calculator{
  border:2px solid beige;
  width:320px;
  margin-top: 30%;
  backdrop-filter: blur(0.5px); 
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;
  height: 500px;

}

table { 
  margin-left: auto; 
  margin-right: auto; 
  width:20%;

} 

input[type="button"] { 
  width: 15%;
  padding: 10px 27px; 
  background-color: #e2b7d5; 
  color:black ; 
  font-size: 14px; 
  font-weight: bold; 
  border: none; 
  border-radius: 100px;
  margin-top: 10%;
  
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,.8);
}

input[type="text"] { 

  
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  background-color: (255, 255, 255, 0.2)


} 

#numbers{
  margin-top: 10%;
}
.myDiv{
    margin-top: 15%;}

#myBtn{
  width: 10px;
}

#result{
  margin-top: 29%;
  margin-left: 8%;
 

  height: 5%;
  width: 190px;
}

#equals{
  width: 200%; 
}


#myBtn6{
  width: 300%;
}
  


}
@media screen and (max-width: 800px) and (min-width: 520px){
  body{
    background-image:url(images/calculator.jpg);   
      background-size: cover;
      background-repeat: no-repeat;
     
      justify-content: center;
     
      overflow: hidden;
    }

.calculator{
  border:2px solid beige;
  width:320px;
  margin-top: 25%;
  backdrop-filter: blur(0.5px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;
  height: 500px;

}

table { 
  margin-left: auto; 
  margin-right: auto; 
  width:20%;
} 

input[type="button"] { 
  width: 25%;
  padding: 10px 27px; 
  background-color: #e2b7d5; 
  color:black ; 
  font-size: 14px; 
  font-weight: bold; 
  border: none; 
  border-radius: 100px;
  margin-top: 10%;
  
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,.8);
}

input[type="text"] { 
   padding: 10px x 90px;  
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  background-color: (255, 255, 255, 0.2);
  
   
} 

#numbers{
  margin-top: 10%;
}
.myDiv{
    margin-top: 15%;}


#myBtn{
  width: 10px;
}

#result{
  margin-top: 29%;
  margin-left: 10%;
  height: 5%;
  width:193px;
  /* padding-right: 120%; */
}


#equals{
  width: 200%; 
}


#myBtn6{
  width: 300%;
}
  


}

@media screen and (max-width: 1080px) and (min-width: 800px){
  body{
    background-image:url(images/calculator.jpg);   
      background-size: cover;
      background-repeat: no-repeat;
      /* display: flex; */
      justify-content: center;
      min-height: 100vh;
      overflow: hidden;
    }

.calculator{
  border:2px solid beige;
  width:420px;
  margin-top: 35%;
  backdrop-filter: blur(0.5px); /* Frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;
  height: 650px;

}

table { 
  margin-top: 2px; 
  margin-right: 85px; 
  width:20%;
  height:39px;
  padding-bottom: 30%;
} 

input[type="button"] { 
  width: 95%;
  padding: 20px 35px; 
  background-color: #e2b7d5; 
  color:black ; 
  font-size: 14px; 
  font-weight: bold; 
  border: none; 
  border-radius: 100px;
  margin-left: 50%;
  
  
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,.8);
}

input[type="text"] { 
  padding: 0px x 0px; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  background-color: (255, 255, 255, 0.2)
} 

#numbers{
  margin-top: 5%;
  
}
.myDiv{
    margin-top: 15%;}

/* #result{
  margin-top: 15%;
} */
#myBtn{
  width: 10px;
}

#result{
  margin-top: 19%;
  margin-left: 10%;
  height: 5%;
  padding-left: 100px;
  width: 195px;
}

#equals{
  width: 200%; 
}


#myBtn6{
  width: 200%;
}
  


}
 @media screen and (max-width: 1024px) and (min-width: 1081px){
  body{
    background-image:url(images/calculator.jpg);   
      background-size: auto;
      background-repeat: no-repeat;
      /* display: flex; */
      justify-content: center;
      min-height: 125vh;
      height: 100px;
      overflow:hidden ;
    }

.calculator{
  border:2px solid beige;
  width:620px;
  margin-bottom: 60%;
  backdrop-filter: blur(0.5px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;
  height: 100vh;

}

table { 
  margin-top: 2px; 
  margin-right: 85px; 
  width:20%;
  height:39px;
  padding-bottom: 30%;
} 

input[type="button"] { 
  width: 95%;
  padding: 20px 35px; 
  background-color: #e2b7d5; 
  color:black ; 
  font-size: 14px; 
  font-weight: bold; 
  border: none; 
  border-radius: 100px;
  margin-left: 50%;
  
  
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,.8);
}

input[type="text"] { 
  padding: 0px x 0px; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  background-color: (255, 255, 255, 0.2)
} 

#numbers{
  margin-top: 5%;
  
}
.myDiv{
    margin-top: 15%;} */

#result{
  margin-top: 15%;
}
 #myBtn{
  width: 10px;
}

#result{
  margin-top: 19%;
  margin-left: 40%;
  height: 5%;
  padding-left: 100px;
}

#equals{
  width: 200%; 
}


#myBtn6{
  width: 200%;
} 
} 


@media screen and (max-width: 281px) and (min-width: 280px){
  body{
    background-image:url(images/calculator.jpg);   
      background-size: cover;
      background-repeat: no-repeat;
      /* display: flex; */
      justify-content: center;
      min-height: 100vh;
      overflow: hidden;
    }

.calculator{
  border:2px solid beige;
  width:320px;
  margin-top: 30%;
  backdrop-filter: blur(0.5px); /* Frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;
  height: 500px;

}

table { 
  margin-left: auto; 
  margin-right: auto; 
  width:20%;
  margin-top: 5%;
} 

input[type="button"] { 
  width: 15%;
  padding: 10px 20px; 
  background-color: #e2b7d5; 
  color:black ; 
  font-size: 14px; 
  font-weight: bold; 
  border: none; 
  border-radius: 100px;
  margin-top: 30%;
  display: flex;
  justify-content: center;
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,.8);
}

input[type="text"] { 

  /* padding: 0px x 0px;  */
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  background-color: (255, 255, 255, 0.2);
  


} 

#numbers{
  margin-top: 10%;
}
.myDiv{
    margin-top: 15%;}

/* #result{
  margin-top: 15%;
} */
#myBtn{
  width: 10px;
}

#result{
  margin-top: 29%;
  margin-left: 15%;
  /* margin-right: 3%; */

  height: 5%;
  width: 125px;
}

#equals{
  width: 200%; 
}


#myBtn6{
  width: 300%;
}
  


}
  

@media screen and (max-width: 1281px) and (min-width: 1279px){
  body{
    background-image:url(images/calculator.jpg);   
      background-size: cover;
      background-repeat: no-repeat;
      /* display: flex; */
      justify-content: center;
      min-height: 200vh;
      overflow: hidden;
      
    }

.calculator{
  border:2px solid beige;
  width:420px;
  margin-top: 6%;
  backdrop-filter: blur(0.5px); /* Frosted glass effect */
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
  -webkit-backdrop-filter: blur(5px); 
  backdrop-filter: blur(5px); 
  border-radius: 50px;
  height: 600px;

}

table { 
  margin-top: 2px; 
  margin-right: 85px; 
  width:20%;
  height:39vh;
  padding-bottom: 30%;
} 

input[type="button"] { 
  width: 95%;
  padding: 20px 35px; 
  background-color: #e2b7d5; 
  color:black ; 
  font-size: 14px; 
  font-weight: bold; 
  border: none; 
  border-radius: 100px;
  margin-left: 50%;
  
  
}

.shadow {
  box-shadow: 3px 3px 8px 2px rgba(0,0,0,.8);
}

input[type="text"] { 
  padding: 0px x 0px; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  background-color: (255, 255, 255, 0.2)
} 

#numbers{
  margin-top: 5%;
  
}
.myDiv{
    margin-top: 15%;}

/* #result{
  margin-top: 15%;
} */
#myBtn{
  width: 10px;
}

#result{
  margin-top: 19%;
  margin-left: 10%;
  height: 5%;
  padding-left: 8px;
  width: 280px;
}

#equals{
  width: 200%; 
}


#myBtn6{
  width: 200%;
}


}



@media screen and (max-width: 1025px) and (min-width: 1024px){
    body{
      background-image:url(images/calculator.jpg);   
        background-size: auto;
        background-repeat: no-repeat;
        /* display: flex; */
        justify-content: center;
        min-height: 125vh;
        height: 100px;
        overflow:hidden ;
      }
  
  .calculator{
    border:2px solid beige;
    width:420px;
    margin-top: 2%;
    backdrop-filter: blur(0.5px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
    -webkit-backdrop-filter: blur(5px); 
    backdrop-filter: blur(5px); 
    border-radius: 50px;
    height: 90vh;
  
  }
  
  table { 
    margin-top: 2px; 
    margin-right: 35%; 
    width:20%;
    height:39px;
    padding-bottom: 10%;
  } 
  
  input[type="button"] { 
    width: 95%;
    padding: 20px 35px; 
    background-color: #e2b7d5; 
    color:black ; 
    font-size: 14px; 
    font-weight: bold; 
    border: none; 
    border-radius: 100px;
    margin-left: 50%;
    
    
  }
  
  .shadow {
    box-shadow: 3px 3px 8px 2px rgba(0,0,0,.8);
  }
  
  input[type="text"] { 
    padding: 0px x 0px; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    border: 2px solid black; 
    background-color: (255, 255, 255, 0.2)
  } 
  
  #numbers{
    margin-top: 5%;
    
  }
  .myDiv{
      margin-top: 15%;} */
  
  #result{
    margin-top: 15%;
  }
   #myBtn{
    width: 10px;
  }
  
  #result{
    margin-top: 5%;
    margin-left: 10%;
    height: 5%;
    padding-left: 100px;
  }
  
  #equals{
    width: 200%; 
  }
  
  
  #myBtn6{
    width: 200%;
  } 
} 
  
